
<head title="convert to Json"></head>
<body>
    <div class='container'>
      <div class='form-group'>
          <label for='xlsxFile'> XLSX
            <form method='POST' action='/toJson' enctype='multipart/form-data'>
              <input type='file' name='f' id='xlsxFile_form' class="form-control" value="">
              <input type='text' name='listName' class="form-control" value="">
              <button class='btn btn-success btn-lg' type='submit'> To JSON 
            </form> 
          </label>
        </div>
    </div>
</body>